* {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, ul, li, th {
    list-style-type: none;
    font-weight: normal;
}

img {
    max-width: 100%;
    max-height: 100%;
}

em, i, b {
    font-style: normal;
}

b {
    font-weight: bold;
}

a {
    color: inherit;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul, li {
    list-style: none;
}

input, button {
    color: inherit;
    font-size: inherit;
    border: none;
    background: none;
    /* -webkit-appearance: none; */
    border-radius: 0;
}

input::placeholder, textarea::placeholder {
    color: #8e8e8e;
}
button:hover {
    cursor: pointer;
}

button.disabled:hover {
    cursor: default;
}

*:focus {
    outline: none;
}

textarea {
    font-size: inherit;
    resize: none;
    border: 1px solid #353535;
}

html, body {
    font-size: 16px;
    color: #353535;
    line-height: 1.15;
    font-family: "PingFang SC", "Microsoft YaHei", Arial, Helvetica, sans-serif;
    -webkit-tap-highlight-color: transparent;
}

.btn_01 {
    display: block;
    width: 12rem;
    height: 3rem;
    margin: 0 auto;
    line-height: 3rem;
    text-align: center;
    color: #fff;
    background: #0070ba;
    border-radius: 1rem;
    font-size: 1.2rem;
}
// .avatar {
//     background: url("../assets/img/defaultAvatar.jpg") no-repeat center;
//     background-size: 110%;
// }
.avatar[src] {
    background: none;
}
.hide-select {
    position: relative;
    select {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
//
//.dropLoading-cont {
//    display: block;
//    height: 3.5rem;
//    //display: none;
//}
.dropLoading {
    display: block;
    text-align: center;
    padding: 1rem 0;
    color: #8e8e8e;
    font-size: 1.2rem;
    line-height: 1.5rem;
    visibility: hidden;
    .dropLoading-i {
        display: inline-block;
        width:1.5rem;
        height:1.5rem;
        vertical-align: middle;
        margin-right: 1rem;
        background: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox%3D'0 0 120 120' xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg' xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline id%3D'l' x1%3D'60' x2%3D'60' y1%3D'7' y2%3D'27' stroke%3D'%236c6c6c' stroke-width%3D'11' stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse xlink%3Ahref%3D'%23l' opacity%3D'.27'%2F%3E%3Cuse xlink%3Ahref%3D'%23l' opacity%3D'.27' transform%3D'rotate(30 60%2C60)'%2F%3E%3Cuse xlink%3Ahref%3D'%23l' opacity%3D'.27' transform%3D'rotate(60 60%2C60)'%2F%3E%3Cuse xlink%3Ahref%3D'%23l' opacity%3D'.27' transform%3D'rotate(90 60%2C60)'%2F%3E%3Cuse xlink%3Ahref%3D'%23l' opacity%3D'.27' transform%3D'rotate(120 60%2C60)'%2F%3E%3Cuse xlink%3Ahref%3D'%23l' opacity%3D'.27' transform%3D'rotate(150 60%2C60)'%2F%3E%3Cuse xlink%3Ahref%3D'%23l' opacity%3D'.37' transform%3D'rotate(180 60%2C60)'%2F%3E%3Cuse xlink%3Ahref%3D'%23l' opacity%3D'.46' transform%3D'rotate(210 60%2C60)'%2F%3E%3Cuse xlink%3Ahref%3D'%23l' opacity%3D'.56' transform%3D'rotate(240 60%2C60)'%2F%3E%3Cuse xlink%3Ahref%3D'%23l' opacity%3D'.66' transform%3D'rotate(270 60%2C60)'%2F%3E%3Cuse xlink%3Ahref%3D'%23l' opacity%3D'.75' transform%3D'rotate(300 60%2C60)'%2F%3E%3Cuse xlink%3Ahref%3D'%23l' opacity%3D'.85' transform%3D'rotate(330 60%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") no-repeat;
        background-size: 1.5rem;
        -webkit-animation: spin360 1s steps(12,end) infinite;
        animation: spin360 1s steps(12,end) infinite;
    }
}
@keyframes spin360 {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


.clearFloat:before, .clearFloat:after{
    content: '';
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
  }