$iconSrc: '../assets/svg/';
.logo, .my_space-svg, .search_btn-svg, .pullBtn_icon, .icon_download,
 .icon_share, .icon_favorite, .pushBtn_icon, .banIcon, .rankIcon, .icon_arrow 
 {
    display: block;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.logo {
    width: 100%;
    height: 1.1945rem;
    background: url($iconSrc + 'logo.svg') center no-repeat;
}

.my_space-svg {
    width: 100%;
    height: 100%;
    // background: url('../assets/noface.gif');
    border-radius: 50%;
}

.search_btn-svg {
    width: 100%;
    height: 100%;
    background: url($iconSrc + 'searchBtn.svg')
}

.pullBtn_icon {
    width: 100%;
    height: 100%;
    background: url($iconSrc + 'pull.svg') center no-repeat;
}

.pushBtn_icon {
    width: 100%;
    height: 100%;
    background: url($iconSrc + 'push.svg') center no-repeat;
}

.playIcon {
    width: 100%;
    height: 100%;
    background: url($iconSrc + 'playIcon.svg') no-repeat;
}

.commentIcon {
    width: 100%;
    height: 100%;
    background: url($iconSrc + 'commentIcon.svg') no-repeat;
}

.icon_favorite {
    width: 100%;
    height: 100%;
    background: url($iconSrc + 'icon_favorite.svg')no-repeat;
}

.icon_download {
    width: 100%;
    height: 100%;
    background: url($iconSrc + 'icon_download.svg');
}

.icon_share {
    width: 100%;
    height: 100%;
    background: url($iconSrc + 'icon_share.svg');
}

.banIcon {
    width: 100%;
    height: 100%;
    background: url($iconSrc + 'ban.svg');
}

.searchIcon {
    background: url('../assets/search.png')
}

.rankIcon {
    background: url($iconSrc + 'rankIcon.svg')no-repeat center;
}

.icon_arrow {
    display: block;
    width: 100%;
    height: 100%;
    background: url($iconSrc + 'push.svg') center no-repeat;
    transform: rotateZ(90deg)
}

.TV-Play {
    background: url(../assets/TV-Play.png)
}

.TV-Puase {
    background: url(../assets/TV-Pause.png)
}

.icon-widescreen {
    display: block;
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-position: 100%;
    background-color: rgba(0,0,0,0);
    background-repeat: no-repeat;
    background-image: url(../assets/widescreen.png);
}